# compiled output
/dist/
/tmp/

# misc
/.editorconfig
/.ember-cli
/.env*
/.eslintcache
/.eslintrc.js
/.git/
/.gitignore
/.prettierignore
/.prettierrc.js
/.watchmanconfig
/CONTRIBUTING.md
/tests/
/yarn-error.log
/yarn.lock
.gitkeep
